.checkout {
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}

.checkout_ad {
    width: 100%;
    height: 8rem;
    cursor: pointer;
}

.checkout_title {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid lightgray;
    margin-bottom: 2rem;
}

.checkout_left {
    width: 100%;
}

.subtotal {
    right: 0;
}

@media only screen and (max-width: 762px) {
    .subtotal {
        left: 0;
    }

    .checkout {
        flex-direction: column;
    }
}